# Stuff Lending Test Report

Test cases from the [Test Specification](/Test%20Specification.md).

|Case|Result|Note|
|----|------|----|
|1.1| OK | |
|1.2| OK | |
|1.3| OK | |
|2.1| OK | |
|2.2| OK | |
|2.3| OK | There is no listing for only contracts. For testing scroll up 50 lines in the console and you will get the number of contracts for the member before and after deletion.  Service.deleteItem() line: 202|
|3.1| not ok | There seems to have been a mishap where something changed in the methods for this. Not enough time to fix this now. |
|3.2| | |
|3.3| | |
|3.4| | |
|3.5| | |
|3.6| | |
|4.1| OK | |
|5.1| OK | Except that all have 200 credits from the data in model.db.HarCodedData|