# Stuff Lending Test Report

Test cases from the [Test Specification](/Test%20Specification.md).

|Case|Result|Note|
|----|------|----|
|1.1| | |
|1.2| | |
|1.3| | |
|2.1| | |
|2.2| | |
|2.3| | |
|3.1| | |
|3.2| | |
|3.3| | |
|3.4| | |
|3.5| | |
|3.6| | |
|4.1| | |
|5.1| | |